<div class="page_listing candidate"  >
    <div class="sorting_content">
     
        <div class="overflow" *ngIf="candidat">
           <div class="text-shorting">
               <h1>{{candidat.prenom}} {{candidat.nom}} </h1>
               <ul class="unstyled">
                   <li>{{candidat.role.nomRole}}</li>
                   <li><span><strong>Email : </strong> {{candidat.email}}</span></li>
               </ul>
        
           </div>
        <div class="bottom_text">
             <div class="contact_details col-md-4 col-sm-4 p-l">
                <span><strong>Location:</strong> {{candidat.addres}}</span>
            </div>
            <div class="contact_details col-md-8 col-sm-8 p-l">
                <span><strong>Skills:</strong>  JAVA/JEE, spring boot , Html, JavaScript, jQuery, CSS, MySQL, Angular 
                      
                </span>
            </div>
            <p></p>
            <p class="col-md-12 p-l">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis ultricies nec pellentesque eu.</p>
        </div>
        </div>
    </div>
   
</div>
